@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --fonte-titulo: 'Calistoga', Georgia, 'Times New Roman', Times, serif;
    --peso-titulo: 400;
    --fonte-texto: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
    --cor1: hsl(200, 100%, 10%);
    --cor2: hsl(200, 100%, 20%);
    --cor3: hsl(200, 100%, 30%);
    --cor4: hsl(200, 100%, 40%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-texto);
}

.cabecalho-site {
    padding: 20px;
    background-color: var(--cor2);
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.titulo-site {
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: var(--peso-titulo);
}

.item-menu-site {
    list-style-type: none;
    font-size: 1.25em;
    text-align: right;
}

.link-menu-site {
    color: white;
    text-decoration: none;
}

.item-menu-rodape {
    list-style-type: none;
}

.link-menu-rodape {
    text-decoration: none;
}

.link-social-rodape {
    text-decoration: none;
}