@import url('style.css');

@media screen and (min-width: 768px) {
    .site-header {
        padding: 0;
        flex-wrap: wrap;
    }

    .header-container {
        margin: 20px 0;
        padding: 0 30px;
        justify-content: center;
    }

    #open-button, #close-button {
        display: none;
    }

    .header-menu {
        height: auto;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--color3);
        border-top: 1px solid var(--color1);
    }

    .header-menu-link {
        padding: 10px;
        border-radius: 0;
    }

    .header-menu-link:hover {
        background-color: var(--color2);
    }

    .site-main {
        padding: 40px 30px 100px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: start;
    }

    .main-header {
        margin-bottom: 10px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .main-card {
        margin-bottom: 0;
    }

    .main-card-contact {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .site-footer {
        padding: 50px 30px;
    }
}