@import url('style.css');

@media screen and (min-width: 640px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
    }

    .site-footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) {
    .site-header {
        padding: 0;
        flex-wrap: wrap;
    }

    .header-container {
        margin: 20px 0;
        padding: 0 30px;
        justify-content: center;
    }

    #open-button, #close-button {
        display: none;
    }

    .header-menu {
        height: auto;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: var(--color3);
        border-top: 1px solid var(--color1);
    }

    .header-menu-link {
        padding: 10px;
        border-radius: 0;
    }

    .header-menu-link:hover {
        background-color: var(--color2);
    }

    .main-header {
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        background: url(../images/home/beach-1200x400.jpg) left no-repeat;
        background-size: cover;
    }

    .main-header-container {
        max-width: 400px;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-content {
        padding: 60px 30px;
    }

    .site-footer {
        padding: 50px 30px;
    }
}

@media screen and (min-width: 992px) {
    .site-main {
        box-shadow: 0 0 20px hsl(0, 0%, 80%);
    }

    .header-menu {
        justify-content: center;
        gap: 30px;
    }

    .main-content {
        padding: 80px 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .site-footer {
        justify-content: space-evenly;
    }
}