@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Global */

:root {
    font-size: 62.5%; /* = 10px */
    --font-family-site: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
    --font-size-h1: 3.6rem;
    --font-size-h2: 3.2rem;
    --font-size-h3: 2.8rem;
    --font-size-h4: 2.4rem;
    --font-site-pl: 2.2rem;
    --font-size-p: 2rem;
    --color1: hsl(200, 100%, 10%);
    --color2: hsl(200, 100%, 20%);
    --color3: hsl(200, 100%, 30%);
    --color4: hsl(200, 100%, 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-site);
    font-size: var(--font-size-p);
}

a {
    text-decoration: none;
}


/* Header */

.site-header {
    padding: 20px;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header-container-link {
    height: 22px;
}

.header-container-button {
    color: white;
    cursor: pointer;
}

#close-button {
    display: none;
}

.header-menu {
    height: calc(100vh - 64px);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0;
}

.header-menu-link {
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: var(--font-site-pl);
}

.header-menu-link:hover {
    background-color: var(--color3);
}


/* Main */

.site-main {
    padding: 40px 20px;
}

.main-header {
    margin-bottom: 40px;
}

.main-header-title {
    font-size: var(--font-size-h1);
    margin-bottom: 10px;
}

.main-header-text {
    font-size: 2rem;
}

.main-header-link {
    color: var(--color2);
    font-weight: 700;
}

.main-header-link:hover {
    text-decoration: underline;
}

.main-card {
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px hsl(0deg 0% 0% / 50%);
}

.main-card-img {
    display: block;
}

.main-card-container {
    padding: 10px 20px 20px 20px;
    background-color: var(--color3);
    color: white;
}

.main-card-title {
    font-size: var(--font-size-h2);
    margin-bottom: 5px;
}


/* Footer */

.site-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    background-color: var(--color2);
}

.site-footer a {
    color: white;
}

.footer-title {
    font-size: var(--font-size-h4);
}

.site-footer li {
    list-style-type: none;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-menu-item, .footer-social-item {
    margin: 15px 0;
}